@import "assets/mixins";
@import "assets/variables";

body {
  @include background-gradient-top2bottom($secondaryColor, $secondaryColorDark);
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.ml-5 {
  margin-left: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.action-icon {
  color: #34495e;
  cursor: pointer;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background: #34495e !important;
}

html, body { height: 100%; }
