<form [formGroup]="formGroup" autocomplete="off" class="example-container">
  <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Write name here...">
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Breed</mat-label>
    <input matInput formControlName="breed" placeholder="Write breed here...">
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Picture</mat-label>
    <input matInput formControlName="picture" placeholder="Write picture here...">
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Age</mat-label>&nbsp;&nbsp;&nbsp;
    <input matInput type="number" formControlName="age" placeholder="Write age here...">
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" placeholder="Write location here...">
  </mat-form-field>
  <br/>

  <div class="actions">
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()" *ngIf="data.State === 2" class="ml-5">Save</button>
    <button mat-raised-button color="primary" (click)="create()" *ngIf="data.State === 1" class="ml-5">Create</button>
  </div>

</form>


